.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
      /* scroll */
  padding-top: 3rem;
}
#lo {
padding: 0rem 2rem;
border-radius: 10rem;
color: white;
background: black;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
     
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.9em;
    outline: none;
    border: 1.5px solid black;
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 4rem!important;
}




@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        /* height: 40rem; */
    }
    .c-right .user{
        width: 16rem;
    }

}   